<div class="form-group required">
  <%= f.label :first_name %>
  <%= f.text_field :first_name, class: "form-control" %>
</div>
<div class="form-group required">
  <%= f.label :last_name %>
  <%= f.text_field :last_name, class: "form-control" %>
</div>
