<div class="page-header">
  <%= link_to admin_users_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-arrow-left"></span>
    <%= t('actions.back') %>
  <% end %>
  <h1><%= t('.page_title') %></h1>
</div>

<%= render 'form' %>
